<p id="notice"><%= notice %></p>

<table class="table table-bordered table-hover">
  <tbody>
    <tr>
      <th><strong>Name:</strong></th>
      <td> <%= @group.name %></td>
    </tr>
    <tr>
      <th><strong>Type:</strong></th>
      <td><%= @group.type_group %></td>
    </tr>
    <tr>
      <th><strong>Concerts in the month:</strong></th>
      <td><%= @group.cant_concierts_month %></td>
    </tr>
    <tr>
      <th><strong>Last Conciert:</strong></th>
      <td><%= @group.last_conciert%></td>
    </tr>
    <tr>
      <th><strong>Max People:</strong></th>
      <td><%= @group.max_people %></td>
    </tr>
     <tr>
      <th><strong>Max Duration:</strong></th>
      <td><%= @group.max_duration %></td>
    </tr>
  </tbody>
</table>
<a href="<%=  group_concierts_path(@group) %>" class="btn btn-success text-white">View All Concierts</a>
<a href="<%= edit_group_path(@group) %>" class="btn btn-warning text-white">Edit Group</a>
<a href="<%= groups_path %>" class="btn btn-primary text-white">Back</a>

